@import './components/App/styles.scss';
@import './components/List/styles.scss';
@import './components/User/styles.scss';

body {
  font-family: 'Arial';
}

.btn {
  border-radius: 10px;
  margin: 5px;

  &--primary {
    border: 1px solid blue;
  }

  &--secondary {
    border: 1px solid red;
  }
}